//margin of 0px;
.maT0{
	margin-top: 0px;
}
.maR0{
	margin-right: 0px;
}
.maB0{
	margin-bottom: 0px;
}
.maL0{
	margin-left: 0px;
}
.maTR0{
	margin-top: 0px;
	margin-right: 0px;
}
.maTB0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.maTL0{
	margin-top: 0px;
	margin-left: 0px;
}
.maRB0{
	margin-right: 0px;
	margin-bottom: 0px;
}
.maRL0{
	margin-right: 0px;
	margin-left: 0px;
}
.maBL0{
	margin-bottom: 0px;
	margin-left: 0px;
}
.maTRL0{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
.maRBL0{
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.maTRBL0{
	margin: 0px 0px 0px 0px;
}

//margin of 1 px
.maT1{
	margin-top: 1px;
}
.maR1{
	margin-right: 1px;
}
.maB1{
	margin-bottom: 1px;
}
.maL1{
	margin-left: 1px;
}
.maTR1{
	margin-top: 1px;
	margin-right: 1px;
}
.maTB1{
	margin-top: 1px;
	margin-bottom: 1px;
}
.maTL1{
	margin-top: 1px;
	margin-left: 1px;
}
.maRB1{
	margin-right: 1px;
	margin-bottom: 1px;
}
.maRL1{
	margin-right: 1px;
	margin-left: 1px;
}
.maBL1{
	margin-bottom: 1px;
	margin-left: 1px;
}
.maTRL1{
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
}
.maRBL1{
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}
.maTRBL1{
	margin: 1px 1px 1px 1px;
}

.maT2{
	margin-top: 2px;
}
.maR2{
	margin-right: 2px;
}
.maB2{
	margin-bottom: 2px;
}
.maL2{
	margin-left: 2px;
}
.maTR2{
	margin-top: 2px;
	margin-right: 2px;
}
.maTB2{
	margin-top: 2px;
	margin-bottom: 2px;
}
.maTL2{
	margin-top: 2px;
	margin-left: 2px;
}
.maRB2{
	margin-right: 2px;
	margin-bottom: 2px;
}
.maRL2{
	margin-right: 2px;
	margin-left: 2px;
}
.maBL2{
	margin-bottom: 2px;
	margin-left: 2px;
}
.maTRL2{
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
}
.maRBL2{
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
}
.maTRBL2{
	margin: 2px 2px 2px 2px;
}

.maT3{
	margin-top: 3px;
}
.maR3{
	margin-right: 3px;
}
.maB3{
	margin-bottom: 3px;
}
.maL3{
	margin-left: 3px;
}
.maTR3{
	margin-top: 3px;
	margin-right: 3px;
}
.maTB3{
	margin-top: 3px;
	margin-bottom: 3px;
}
.maTL3{
	margin-top: 3px;
	margin-left: 3px;
}
.maRB3{
	margin-right: 3px;
	margin-bottom: 3px;
}
.maRL3{
	margin-right: 3px;
	margin-left: 3px;
}
.maBL3{
	margin-bottom: 3px;
	margin-left: 3px;
}
.maTRL3{
	margin-top: 3px;
	margin-right: 3px;
	margin-left: 3px;
}
.maRBL3{
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
}
.maTRBL3{
	margin: 3px 3px 3px 3px;
}

//margin of 5px;
.maT5{
	margin-top: 5px;
}
.maR5{
	margin-right: 5px;
}
.maB5{
	margin-bottom: 5px;
}
.maL5{
	margin-left: 5px;
}
.maTR5{
	margin-top: 5px;
	margin-right: 5px;
}
.maTB5{
	margin-top: 5px;
	margin-bottom: 5px;
}
.maTL5{
	margin-top: 5px;
	margin-left: 5px;
}
.maRB5{
	margin-right: 5px;
	margin-bottom: 5px;
}
.maRL5{
	margin-right: 5px;
	margin-left: 5px;
}
.maBL5{
	margin-bottom: 5px;
	margin-left: 5px;
}
.maTRL5{
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}
.maRBL5{
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.maTRBL5{
	margin: 5px 5px 5px 5px;
}

//margin of 10px;
.maT10{
	margin-top: 10px;
}
.maR10{
	margin-right: 10px;
}
.maB10{
	margin-bottom: 10px;
}
.maL10{
	margin-left: 10px;
}
.maTR10{
	margin-top: 10px;
	margin-right: 10px;
}
.maTB10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.maTL10{
	margin-top: 10px;
	margin-left: 10px;
}
.maRB10{
	margin-right: 10px;
	margin-bottom: 10px;
}
.maRL10{
	margin-right: 10px;
	margin-left: 10px;
}
.maBL10{
	margin-bottom: 10px;
	margin-left: 10px;
}
.maTRL10{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.maRBL10{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.maTRBL10{
	margin: 10px 10px 10px 10px;
}

.maT20{
	margin-top: 20px;
}
.maR20{
	margin-right: 20px;
}
.maB20{
	margin-bottom: 20px;
}
.maL20{
	margin-left: 20px;
}
.maTR20{
	margin-top: 20px;
	margin-right: 20px;
}
.maTB20{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.maTL20{
	margin-top: 20px;
	margin-left: 20px;
}
.maRB20{
	margin-right: 20px;
	margin-bottom: 20px;
}
.maRL20{
	margin-right: 20px;
	margin-left: 20px;
}
.maBL20{
	margin-bottom: 20px;
	margin-left: 20px;
}
.maTRL20{
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
.maRBL20{
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.maTRBL20{
	margin: 20px 20px 20px 20px;;
}

//padding of 0px;
.paT0{
	padding-top: 0px;
}
.paR0{
	padding-right: 0px;
}
.paB0{
	padding-bottom: 0px;
}
.paL0{
	padding-left: 0px;
}
.paTR0{
	padding-top: 0px;
	padding-right: 0px;
}
.paTB0{
	padding-top: 0px;
	padding-bottom: 0px;
}
.paTL0{
	padding-top: 0px;
	padding-left: 0px;
}
.paRB0{
	padding-right: 0px;
	padding-bottom: 0px;
}
.paRL0{
	padding-right: 0px;
	padding-left: 0px;
}
.paBL0{
	padding-bottom: 0px;
	padding-left: 0px;
}
.paTRL0{
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.paRBL0{
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.paTRBL0{
	padding: 0px 0px 0px 0px;
}

//padding of 1 px
.paT1{
	padding-top: 1px;
}
.paR1{
	padding-right: 1px;
}
.paB1{
	padding-bottom: 1px;
}
.paL1{
	padding-left: 1px;
}
.paTR1{
	padding-top: 1px;
	padding-right: 1px;
}
.paTB1{
	padding-top: 1px;
	padding-bottom: 1px;
}
.paTL1{
	padding-top: 1px;
	padding-left: 1px;
}
.paRB1{
	padding-right: 1px;
	padding-bottom: 1px;
}
.paRL1{
	padding-right: 1px;
	padding-left: 1px;
}
.paBL1{
	padding-bottom: 1px;
	padding-left: 1px;
}
.paTRL1{
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
}
.paRBL1{
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}
.paTRBL1{
	padding: 1px 1px 1px 1px;
}

//padding of 2px;
.paT2{
	padding-top: 2px;
}
.paR2{
	padding-right: 2px;
}
.paB2{
	padding-bottom: 2px;
}
.paL2{
	padding-left: 2px;
}
.paTR2{
	padding-top: 2px;
	padding-right: 2px;
}
.paTB2{
	padding-top: 2px;
	padding-bottom: 2px;
}
.paTL2{
	padding-top: 2px;
	padding-left: 2px;
}
.paRB2{
	padding-right: 2px;
	padding-bottom: 2px;
}
.paRL2{
	padding-right: 2px;
	padding-left: 2px;
}
.paBL2{
	padding-bottom: 2px;
	padding-left: 2px;
}
.paTRL2{
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
}
.paRBL2{
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.paTRBL2{
	padding: 2px 2px 2px 2px;
}

//padding of 3px;
.paT3{
	padding-top: 3px;
}
.paR3{
	padding-right: 3px;
}
.paB3{
	padding-bottom: 3px;
}
.paL3{
	padding-left: 3px;
}
.paTR3{
	padding-top: 3px;
	padding-right: 3px;
}
.paTB3{
	padding-top: 3px;
	padding-bottom: 3px;
}
.paTL3{
	padding-top: 3px;
	padding-left: 3px;
}
.paRB3{
	padding-right: 3px;
	padding-bottom: 3px;
}
.paRL3{
	padding-right: 3px;
	padding-left: 3px;
}
.paBL3{
	padding-bottom: 3px;
	padding-left: 3px;
}
.paTRL3{
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 3px;
}
.paRBL3{
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.paTRBL3{
	padding: 3px 3px 3px 3px;
}

//padding of 5px;
.paT5{
	padding-top: 5px;
}
.paR5{
	padding-right: 5px;
}
.paB5{
	padding-bottom: 5px;
}
.paL5{
	padding-left: 5px;
}
.paTR5{
	padding-top: 5px;
	padding-right: 5px;
}
.paTB5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.paTL5{
	padding-top: 5px;
	padding-left: 5px;
}
.paRB5{
	padding-right: 5px;
	padding-bottom: 5px;
}
.paRL5{
	padding-right: 5px;
	padding-left: 5px;
}
.paBL5{
	padding-bottom: 5px;
	padding-left: 5px;
}
.paTRL5{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.paRBL5{
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.paTRBL5{
	padding: 5px 5px 5px 5px;
}

//padding of 10px;
.paT10{
	padding-top: 10px;
}
.paR10{
	padding-right: 10px;
}
.paB10{
	padding-bottom: 10px;
}
.paL10{
	padding-left: 10px;
}
.paTR10{
	padding-top: 10px;
	padding-right: 10px;
}
.paTB10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.paTL10{
	padding-top: 10px;
	padding-left: 10px;
}
.paRB10{
	padding-right: 10px;
	padding-bottom: 10px;
}
.paRL10{
	padding-right: 10px;
	padding-left: 10px;
}
.paBL10{
	padding-bottom: 10px;
	padding-left: 10px;
}
.paTRL10{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.paRBL10{
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.paTRBL10{
	padding: 10px 10px 10px 10px;
}